
@charset "utf-8";

html
{
	overflow-y:scroll;
	overflow-x:hidden;
}

body
{
	background:#FFF;
	font-size:13px;
	font-family: "Century Gothic" , Verdana ,  Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "蘋果儷中黑", "微軟正黑體", "Microsoft JhengHei", "新細明體", DFKai-SB, sans-serif !important;
	overflow-: hidden;
	position:relative;
}

label {cursor:pointer;}
img {border:0;}

.hidden , .hide {display:none;}
.show {display:block;}

.text-left {text-align:left !important;}
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}

.float-right {float:right;}
.float-left {float:left;}

a , .btn
{
	outline: none; /* for Firefox Google Chrome  */
	behavior:expression(this.onFocus=this.blur()); /* for IE */	
}

a {color:#369;text-decoration:none;}
a:hover {color:#369;text-decoration:underline;}

.clearfix:after	{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix		{overflow:hidden;display:inline-block;clear:both;}

.border0 {border:0 !important;}

.w10px {width:10px !important;}
.w100p {width:100% !important;}
.w200px {width:200px !important;}

.wrap
{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	position:relative;
}



/* text color */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */


.txt-red {color:#C33 !important;}
.txt-blue {color:#2d9bae !important;}
.txt-orange {color:#ea5529 !important;}


/* gototop */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.gototop
{
	position:fixed;
	bottom:50px;
	width:100%;
	height:20px;
}

.gototop .inner
{
	position:relative;
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.gototop a
{
	position:absolute;
	display:block;
	width:20px;
	height:20px;
	right:10px;
	border-radius:5px;
	background: url(../../common/img/ui-icons_FFFFFF_256x240.png) 3px 2px no-repeat;
	background-color:#333;
}

/* footer */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.footer
{
	z-index:1000;
	width:100%;
	position:fixed;
	bottom:0;
	clear:both;
}


